# Export
export(PSM.simulate, PSM.estimate, PSM.smooth, PSM.plot, PSM.template, matexp)

# Load shared objects
useDynLib(PSM, .registration = TRUE)

# Import all packages listed as Imports or Depends
import(
  MASS,
  numDeriv,
  deSolve,
  ucminf,
  graphics,
  stats
)

